<%= form_for(@text) do |f| %>
  <%= errors_bar @text %>

  <div class="form-group">
    <%= f.label :literal, 'String' %>
    <%= f.text_field :literal, class: 'form-control' %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :accepted %>
      Accepted?
    </label>
  </div>

  <div class="row">

    <% @text.translations_available_languages.each do |translation| %>
      <div class="col-sm-6">
        <div class="form-group">
          <%= label_tag :translations, "Translation into #{translation.language.name}" %>
          <%= text_area_tag :'translations[]', translation.literal, class: 'form-control' %>
        </div>
      </div>
    <% end %>

  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', texts_path, class: 'btn btn-default' %>
<% end %>