<!DOCTYPE html>
<html>
  <head>
    <title>Interpres</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header class="navbar navbar-default" role="navigation">
      <nav class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Interpres</a>
        </div>
        <ul class="nav navbar-nav">
          <%= menu_item 'languages' do %><%= link_to 'Languages', languages_path %><% end %>
          <%= menu_item 'apps' do %><%= link_to 'Apps', apps_path %><% end %>
        </ul>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>